python/bluerpc/rpc
python/dist
python/bluerpc.egg-info
client/bluerpc_client/rpc
client/dist
client/bluerpc_client.egg-info
test/rpc
test/.hypothesis
docs/site
docs/docs/reference
__pycache__
.pytest_cache
*.pem
*.srl
*.pfx
keys.json
test/home-assistant/data
bluerpc.apk*